body {
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

.header{
    padding: 30px;
    position: relative;
}

.footer{
    padding: 30px;
    position: relative;
}
.content {
    padding: 30px;
}

.grow {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgba(255, 34, 34, 0);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    transition: all 0.2s;
}

.title {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 60px;
}

.whatIs {
    color: white;
    font-family: 'Anton', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.howTo {
    color: white;
    font-family: 'Anton', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Playfair Display', serif;
    font-size: large;
}

a.button1 {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #000000;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Anton', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #000000;
    text-align: center;
    transition: all 0.2s;
    position: absolute;
    top: 50px;
    right: 80px;
}

a.button1:hover {
    color: #fa709a;
    background-color: #FFFFFF;
    border: 0.1em solid #FFFFFF;
}

a.button4 {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgba(255, 255, 255, 0);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    transition: all 0.2s;
    background-color: #07a32e;
    /* position: relative; */
    top: 50px;
    right: 80px;
}

a.button4:hover {
    border-color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
}

@media all and (max-width:30em) {
    a.button4, a.button1 {
        display: block;
        margin: 0.2em auto;
    }
}